body{
    background: url('img/bgblack2.jpg');
    color: white;
}

.container .header{
    border-bottom: 2px solid white;
}



/* .container .header a{
    position: absolute;
    right: 120px;
} */

.card-body{
    background-color: rgb(85, 85, 85);
}

.card{
    overflow: hidden;
}
.container{
    /* justify-content: center; */
    margin-top: 20px;
}

.container .row{
    margin-top: 10px;
}

.container .box-detail-produk{
    border: 2px solid #e1e1e1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.container .box-detail-produk h3{
    color: rgb(211, 211, 211);
    margin-top: -10px;
}

.container .input-group{
    width: fit-content;
}

.formlogin{
    border: 2px solid #e1e1e1;
    padding: 15px;
    border-radius: 10px;
}
